<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--定义你的mapper接口-->
<mapper namespace="vip.ph.mapper.UserMapper">


    <!--
        resultType : 返回的数据类型
    -->
    <select id="findAll" resultType="vip.ph.model.User">
        select * from user;
    </select>



</mapper>
